* { padding: 0; margin: 0; }

.body_contact{
    background: url('../media/background/beisl_start.jpeg') no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:100% 100%;
}
#openhours_grid{
    margin-top:80px;
    display:grid;
    grid-template-columns: 10% 90% 0%;
    align-items:center;
    // padding-left:10px;
    grid-gap:10px;

    #openhours_box{
        margin-top:60px;
        // margin-left:30%;
        grid-column:2/span 1;
        min-height:min-content;
        // max-width:max-content;
        padding:10px;

        .hourscontact_grid{
            display:grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: 55px 55px auto;
            grid-gap:10px;

            .oeffnungszeiten{
                grid-column: 1/span 1;
                grid-row:1/span 1;
                // background-color: aqua;
                color:green;
            }
            .contactfield{
                grid-column: 1/span 1;
                grid-row:2/span 1;
                // background-color: bisque;
                color:green;
            }
            .hourscontact_inhalt{
                grid-column:2/span 1;
                grid-row:1/span 3;
                // background-color:aquamarine;
                color:blue;

                #openhours_field{
                    display:block;
                }
                #contact_field{
                    display:none;
                }
            }
        }
    }
}



@media only screen      //PORTRAIT Smartphone
    and (min-width: 393px) 
    and (orientation: portrait){

        #openhours_grid{
            margin-top:80px;
            display:grid;
            grid-template-columns: 10% 75% 15%;
            align-items:center;
            // padding-left:10px;
            grid-gap:15px;
        
            #openhours_box{
                margin-top:60px;
                // margin-left:30%;
                grid-column:2/span 1;
                min-height:min-content;
                padding:10px;
            }
        }
        
    }

@media only screen          //LANDSCAPE TABLETS
    and (min-width:768px)
    and (orientation:landscape) { 

        #openhours_grid{
            margin-top:60px;
            display:grid;
            grid-template-columns: 10% 70% 20%;
            align-items:center;
            // padding-left:10px;
            grid-gap:10px;
        
            #openhours_box{
                // margin-top:60px;
                // // margin-left:30%;
                // grid-column:2/span 1;
                // min-height:min-content;
                // // max-width:max-content;
                // padding:10px;
        
                .hourscontact_grid{
                    // display:grid;
                    // grid-template-columns: 35% 65%;
                    // grid-template-rows: 55px 55px auto;
                    // grid-gap:10px;
        
                    .oeffnungszeiten{
                        // grid-column: 1/span 1;
                        // grid-row:1/span 1;
                        // // background-color: aqua;
                        // color:green;
                    }
                    .contactfield{
                        // grid-column: 1/span 1;
                        // grid-row:2/span 1;
                        // // background-color: bisque;
                        // color:green;
                    }
                    .hourscontact_inhalt{
                        // grid-column:2/span 1;
                        // grid-row:1/span 3;
                        // // background-color:aquamarine;
                        // color:blue;

                        #openhours_field{
                            display:block;
                        }
                        #contact_field{
                            display:none;
                        }
                    }
                }
        
            }
        }
    }

    

    @media only screen  //PORTRAIT TABLET
    and (min-width:768px)
    and (orientation:portrait) { 

        #openhours_grid{
            margin-top:80px;
            display:grid;
            grid-template-columns: 30% 40% 30%;
            align-items:center;
            // padding-left:10px;
            grid-gap:15px;
        
            #openhours_box{
                margin-top:60px;
                // margin-left:30%;
                grid-column:2/span 1;
                min-height:min-content;
                padding:10px;


        .hourscontact_grid{
            display:grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 55px 55px auto;
            grid-gap:10px;

            .oeffnungszeiten{
                grid-column: 1/span 1;
                grid-row:1/span 1;
                background-color: aqua;
                color:white;
            }
            .contactfield{
                grid-column: 1/span 1;
                grid-row:2/span 1;
                background-color: bisque;
                color:blue;
            }
            .hourscontact_inhalt{
                grid-column:2/span 1;
                grid-row:1/span 3;
                background-color:aquamarine;
                color:blue;
            }
        }

    }
            }
        }

    

