* { padding: 0; margin: 0; }


.body_contact{
    background: url('../media/background/beisl_start.jpeg') no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:100% 100%;
}

// .contact_titel{
//     font-family:$standardtitle;
//     color:white;
//     text-transform: uppercase;
// }

.contact_fenster{
    margin-top:100px;
    // padding-top:100px;
    // background-color: red;
    padding-left:15%;
    min-height:min-content;
    justify-content:center;

    .contact_box{
        padding:10px;            
        width:95%;
        max-height:max-content;
        padding-bottom:15px;
        // background-color: aqua;
        background: hsla(0, 0, 0, 0.3);
        // background-color: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 1;      
        overflow: scroll;
        border-radius: 15px;
        .contact_text{
            color:red;
        }
        // .contact_titel{
        //     font-family:$standardtitle;
        //     color:white;
        //     text-transform: uppercase;
        // }
        

        #contact_grid{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50px auto;
            grid-gap:10px;
         
            .contact_addresse{
                grid-column:1/span 1;
                // background-color: aqua;
                border-right: 2px dotted white;
                text-align: center;
                padding:10px;
            }
            .contact_anfahrt{
                grid-column:2/span 1;
                // background-color: azure;
                // border-right: 2px dotted white;
                text-align: center;
                padding:10px;
            }
            .contact_openhours{
                grid-column:1/span 1;
                // border-right: 2px dotted white;
                text-align: center;
                padding:10px;
            }
            .contact_contact{
                grid-column:4/span 1;
                // background-color: blanchedalmond;
                text-align: center;
                padding:10px;
            }
            .contact_inhalt{
                grid-column:1/span 4;
                grid-row:2/span 1;
                width:100%;
                padding-top:10px;
                // background-color: aliceblue;

                #address_inhalt{
                    display:block;
                }
                #anfahrt_inhalt{
                    display:none;

                    .google_maps{
                        iframe{
                            width:100%;
                            padding:5px;
                        }
                        // width:100%;
                    }
                }
                #openhours_inhalt{
                    display:none;
                }
                #contact_inhalt{
                    display:none;
                }
            }

        }

    }
}


//Media Query TABLET PORTRAIT
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (orientation : portrait) { 

        .contact_fenster{
            margin-top:100px;
            // padding-top:100px;
            // background-color: red;
            padding-left:15%;
            min-height:min-content;
            justify-content:center;
        
            .contact_box{
                padding:10px;            
                width:87%;
                max-height:max-content;
                padding-bottom:15px;
                // background-color: aqua;
                background: hsla(0, 0, 0, 0.3);
                // background-color: rgba(0, 0, 0, 0.5);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                z-index: 1;      
                overflow: scroll;
                border-radius: 15px;
                .contact_text{
                    color:red;
                }
                // .contact_titel{
                //     font-family:$standardtitle;
                //     color:white;
                //     text-transform: uppercase;
                // }
                
        
                #contact_grid{
                    display:grid;
                    grid-template-columns: 35% 35% auto;
                    grid-template-rows: 50px auto;
                 
        
                    .contact_addresse{
                        grid-column:1/span 1;
                        // background-color: aqua;
                        border-right: 2px dotted white;
                        text-align: center;
                        padding:10px;
                    }
                    .contact_anfahrt{
                        grid-column:2/span 1;
                        // background-color: azure;
                        border-right: 2px dotted white;
        
        
                        text-align: center;
                        padding:10px;
                    }
                    .contact_openhours{
                        grid-column:3/span 1;
                        // border-right: 2px dotted white;
        
        
                        text-align: center;
                        padding:10px;
                    }
                    .contact_contact{
                        grid-column:4/span 1;
                        // background-color: blanchedalmond;
        
                        text-align: center;
                        padding:10px;
                    }
                    .contact_inhalt{
                        grid-column:1/span 4;
                        grid-row:2/span 1;
                        width:100%;
                        padding-top:10px;
                        // background-color: aliceblue;
        
                        #address_inhalt{
                            display:block;
                        }
                        #anfahrt_inhalt{
                            display:none;

                            .google_maps{
                                // width:600px;
                                // text-align: left;
                                padding-left:1%;
                                padding-right:5px;
                                width:70vw;

                                // height:100vh;
                            }
                        }
                        #openhours_inhalt{
                            display:none;
                        }
                        #contact_inhalt{
                            display:none;
                        }
                    }
        
                }
        
            }
        }
    }

//Media Query LANDSCAPE SMARTPHONES
@media only screen 
    and (max-width:932px)
    and (orientation:landscape) { 

        .contact_fenster{
            margin-top:100px;
            // padding-top:100px;
            // background-color: red;
            padding-left:10%;
            min-height:min-content;
            justify-content:center;
        
            .contact_box{
                padding:10px;            
                width:85%;
                max-height:max-content;
                padding-bottom:15px;
                // background-color: aqua;
                background: hsla(0, 0, 0, 0.3);
                // background-color: rgba(0, 0, 0, 0.5);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                z-index: 1;      
                overflow: scroll;
                border-radius: 15px;
                .contact_text{
                    color:red;
                }
                // .contact_titel{
                //     font-family:$standardtitle;
                //     color:white;
                //     text-transform: uppercase;
                // }
                
        
                #contact_grid{
                    display:grid;
                    grid-template-columns: 25% 25% 25%;
                    grid-template-rows: 50px auto;
                 
        
                    .contact_addresse{
                        grid-column:1/span 1;
                        // background-color: aqua;
                        border-right: 2px dotted white;
                        text-align: center;
                        padding:10px;
                    }
                    .contact_anfahrt{
                        grid-column:2/span 1;
                        // background-color: azure;
                        border-right: 2px dotted white;
        
        
                        text-align: center;
                        padding:10px;
                    }
                    .contact_openhours{
                        grid-column:3/span 1;
                        // border-right: 2px dotted white;
        
        
                        text-align: center;
                        padding:10px;
                    }
                    .contact_contact{
                        grid-column:4/span 1;
                        // background-color: blanchedalmond;
                        text-align: center;
                        padding:10px;
                    }
                    .contact_inhalt{
                        grid-column:1/span 3;
                        grid-row:2/span 1;
                        width:100%;
                        padding-top:10px;
                        text-align: left;
                        // background-color: aliceblue;
        
                        #address_inhalt{
                            display:block;
                        }
                        #anfahrt_inhalt{
                            display:none;
        
                            .google_maps{
                                width:70vw;
                                iframe{
                                    width:100%;
                                    padding:5px;
                                }
                                // width:100%;
                            }
                        }
                        #openhours_inhalt{
                            display:none;
                        }
                        #contact_inhalt{
                            display:none;
                        }
                    }
        
                }
        
            }
        }
        

    }


    //Media Query LANDSCAPE TABLETS
@media only screen 
and (min-width:933px)
and (orientation:landscape) { 

    .contact_fenster{
        margin-top:100px;
        // padding-top:100px;
        // background-color: red;
        padding-left:25%;
        min-height:min-content;
        justify-content:center;
    
        .contact_box{
            padding:10px;            
            width:63%;
            max-height:max-content;
            padding-bottom:15px;
            // background-color: aqua;
            background: hsla(0, 0, 0, 0.3);
            // background-color: rgba(0, 0, 0, 0.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            z-index: 1;      
            overflow: scroll;
            border-radius: 15px;
            .contact_text{
                color:red;
            }
            // .contact_titel{
            //     font-family:$standardtitle;
            //     color:white;
            //     text-transform: uppercase;
            // }
            
    
            #contact_grid{
                display:grid;
                grid-template-columns: 25% 25% 25%;
                grid-template-rows: 50px auto;
             
    
                .contact_addresse{
                    grid-column:1/span 1;
                    // background-color: aqua;
                    border-right: 2px dotted white;
                    text-align: center;
                    padding:10px;
                }
                .contact_anfahrt{
                    grid-column:2/span 1;
                    // background-color: azure;
                    border-right: 2px dotted white;
    
    
                    text-align: center;
                    padding:10px;
                }
                .contact_openhours{
                    grid-column:3/span 1;
                    // border-right: 2px dotted white;
    
    
                    text-align: center;
                    padding:10px;
                }
                .contact_contact{
                    grid-column:4/span 1;
                    // background-color: blanchedalmond;
                    text-align: center;
                    padding:10px;
                }
                .contact_inhalt{
                    grid-column:1/span 3;
                    grid-row:2/span 1;
                    width:100%;
                    padding-top:10px;
                    // background-color: aliceblue;
    
                    #address_inhalt{
                        display:block;
                    }
                    #anfahrt_inhalt{
                        display:none;
    
                        .google_maps{
                            // padding-left:10%;
                            width:45vw;
                            padding:10px;
                            iframe{
                                // width:100vw;
                                // padding-right:5px;
                            }
                        }
                    }
                    #openhours_inhalt{
                        display:none;
                    }
                    #contact_inhalt{
                        display:none;
                    }
                }
    
            }
    
        }
    }

}

//LARGE screens
@media only screen 
and (min-width:1400px) {

    .contact_fenster{
        margin-top:100px;
        // padding-top:100px;
        // background-color: red;
        padding-left:25%;
        min-height:min-content;
        justify-content:center;
    
        .contact_box{
            padding:10px;            
            width:63%;
            max-height:max-content;
            padding-bottom:15px;
            // background-color: aqua;
            background: hsla(0, 0, 0, 0.3);
            // background-color: rgba(0, 0, 0, 0.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            z-index: 1;      
            overflow: scroll;
            border-radius: 15px;
            .contact_text{
                color:red;
            }
            // .contact_titel{
            //     font-family:$standardtitle;
            //     color:white;
            //     text-transform: uppercase;
            // }
            
    
            #contact_grid{
                display:grid;
                grid-template-columns: 25% 25% 25%;
                grid-template-rows: 50px auto;
             
    
                .contact_addresse{
                    grid-column:1/span 1;
                    // background-color: aqua;
                    border-right: 2px dotted white;
                    text-align: center;
                    padding:10px;
                }
                .contact_anfahrt{
                    grid-column:2/span 1;
                    // background-color: azure;
                    border-right: 2px dotted white;
    
    
                    text-align: center;
                    padding:10px;
                }
                .contact_openhours{
                    grid-column:3/span 1;
                    // border-right: 2px dotted white;
    
    
                    text-align: center;
                    padding:10px;
                }
                .contact_contact{
                    grid-column:4/span 1;
                    // background-color: blanchedalmond;
                    text-align: center;
                    padding:10px;
                }
                .contact_inhalt{
                    grid-column:1/span 3;
                    grid-row:2/span 1;
                    width:100%;
                    padding-top:10px;
                    // background-color: aliceblue;
    
                    #address_inhalt{
                        display:block;
                    }
                    #anfahrt_inhalt{
                        display:none;
    
                        .google_maps{
                            // padding-left:10%;
                            width:45vw;
                            padding:10px;
                            iframe{
                                // width:100vw;
                                // padding-right:5px;
                            }
                        }
                    }
                    #openhours_inhalt{
                        display:none;
                    }
                    #contact_inhalt{
                        display:none;
                    }
                }
    
            }
    
        }
    }

}