* { padding: 0; margin: 0; }

.body_start{
    background: url('../media/background/beisl_start.jpeg') no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:100% 100%;
}

#startpage_grid{
    // margin-top:250px;
    display:grid;
    width:100vw;
    grid-template-columns: 10% 80% 10%;
    align-items:center;
    // padding-left:10px;
    grid-gap:10px;
    margin-top:100px;
    // word-break: break-all;

  
    #welcomebox{
        // margin-top:150px;
        // margin-left:15%;
        word-break: break-all;
        grid-column:1/span 3;
        width:max-content;
        min-height:min-content;
        padding:10px;
        // background-color: aliceblue;
    }
    #infobox{
        margin-top:30px;
        // margin-left:30%;
        grid-column:2/span 1;
        min-height:min-content;
        padding:10px;
        word-break:normal;

        .welcome_text{

                padding-top:15px;
            }
    }
}

//Media Query TABLET PORTRAIT
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (orientation : portrait) { 

        #startpage_grid{
            // margin-top:250px;
            display:grid;
            width:100vw;
            grid-template-columns: 20% 60% 20%;
            // align-items:center;
            // text-align: center;
            // padding-left:10px;
            grid-gap:10px;
            margin-top:100px;
            justify-items: center;

            // word-break: break-all;
        
          
            #welcomebox{
                // margin-top:150px;
                // margin-left:15%;
                word-break: break-all;
                grid-column:2/span 1;
                width:max-content;
                min-height:min-content;
                padding:10px;
                // background-color: aliceblue;
                
               
            }
            #infobox{
                margin-top:30px;
                // margin-left:30%;
                grid-column:2/span 1;
                min-height:min-content;
                padding:10px;
                word-break:normal;
        
                .welcome_text{
        
                        padding-top:15px;
                        text-align:left;
                        // font-family:unBatang;
                        // text-decoration: none;
                        // font-size:large;
                        // color:white;
                    }
            }
        }


    }

    @media only screen  //LANDSCAPE SMARTPHONE
        and (max-width:932px)
        and (orientation:landscape) { 

        #startpage_grid{
            // margin-top:250px;
            display:grid;
            width:100vw;
            grid-template-columns: 10% 80% 10%;
            // align-items:center;
            // text-align: center;
            // padding-left:10px;
            grid-gap:10px;
            margin-top:80px;
            margin-bottom:10px;
            justify-items: center;        
          
            #welcomebox{
                // margin-top:150px;
                // margin-left:15%;
                word-break: break-all;
                grid-column:2/span 1;
                width:max-content;
                min-height:min-content;
                padding:10px;
                // background-color: aliceblue;
            }
            #infobox{
                margin-top:10px;
                // margin-left:30%;
                grid-column:2/span 1;
                height:200px;
                // padding:10px;
                padding-bottom:19px;
                word-break:normal;
        
                .welcome_text{
                    padding-top:15px;
                    text-align:center;
                    // margin-bottom:10px;
                    }
            }
        }



    }

@media only screen          //LANDSCAPE TABLETS
    and (min-width:933px)
    and (orientation:landscape) { 

        #startpage_grid{
            // margin-top:250px;
            display:grid;
            width:100vw;
            grid-template-columns: 20% 60% 20%;
            // align-items:center;
            // text-align: center;
            // padding-left:10px;
            grid-gap:10px;
            margin-top:100px;
            justify-items: center;

            // word-break: break-all;
        
          
            #welcomebox{
                // margin-top:150px;
                // margin-left:15%;
                word-break: break-all;
                grid-column:2/span 1;
                width:max-content;
                min-height:min-content;
                padding:10px;
                // background-color: aliceblue;
                
               
            }
            #infobox{
                margin-top:30px;
                // margin-left:30%;
                grid-column:2/span 1;
                min-height:min-content;
                padding:10px;
                word-break:normal;
        
                .welcome_text{
        
                        padding-top:15px;
                        text-align:center;
                        // font-family:unBatang;
                        // text-decoration: none;
                        // font-size:large;
                        // color:white;
                    }
            }
        }
    



    }




//Startseite Medium Displays LANDSCAPE
@media only screen 
    and (min-width:1400px) {


        #startpage_grid{
            // margin-top:250px;
            display:grid;
            width:100vw;
            grid-template-columns: 20% 60% 20%;
            // align-items:center;
            // text-align: center;
            // padding-left:10px;
            grid-gap:10px;
            margin-top:100px;
            justify-items: center;

            // word-break: break-all;
        
          
            #welcomebox{
                // margin-top:150px;
                // margin-left:15%;
                word-break: break-all;
                grid-column:2/span 1;
                width:max-content;
                min-height:min-content;
                padding:10px;
                // background-color: aliceblue;
                
               
            }
            #infobox{
                margin-top:30px;
                // margin-left:30%;
                grid-column:2/span 1;
                min-height:min-content;
                padding:10px;
                word-break:normal;
        
                .welcome_text{
        
                        padding-top:15px;
                        text-align:center;
                        // font-family:unBatang;
                        // text-decoration: none;
                        // font-size:large;
                        // color:white;
                    }
            }
        }



    }